@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --text-color: #000000;
  --bg-color: #DFF2EB;
  --btn-color: #7AB2D3;
  --footer-color: #4A628A;
  --btn-hover-color: rgba(185, 229, 232, 1);
  --calc-bg: #B9E5E8;
}


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  width: 1440px;
  margin: auto;
  background: var(--bg-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  padding-top: 20px;
}

.header__nav {
  display: flex;
  outline: none;
  align-items: center;
  column-gap: 34px;
}

.header__phone {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 142px;
  flex-wrap: wrap;
  padding-top: 100px;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 55px;
  width: 615px;
  background: var(--calc-bg);
  border-radius: 10px;
  z-index: 9999;
}

.clac__h {
  font-size: 24px;
}

.calc__name__num {
  display: flex;
  align-items: center;
  column-gap: 79px;
}

.calc__input, .custom-select {
  width: 208px;
  background: #ffffff;
  padding: 12px 0 12px 24px;
  border-radius: 10px;
  margin-top: 33px;
}

.long__input {
  margin-top: 33px;
  width: 495px;
  background: #ffffff;
  padding: 12px 0 12px 24px;
  border-radius: 10px;
}

.btn__calc {
  padding: 10px 110px;
  border-radius: 10px;
  background: var(--btn-color);
  cursor: pointer;
  margin: 20px 0;
  color: #ffffff;
}

.processing {
  display: flex;
  gap: 15px;
}

nav ul li a {
  color: #000000;
}

.click__delivery {
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px;
  background: var(--btn-color);
  padding: 18px 174px;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 65px;
  cursor: pointer;
}

a {
  color: #FFF;
}

.service {
  background: var(--calc-bg);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 85px;
}

.h {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 24px;
  padding-top: 80px;
}

.duo__service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 86px;
}

.card {
  background: var(--bg-color);
  border-radius: 10px;
  width: 272px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 24px;
}

.service__img {
  position: relative;
  bottom: 44px;
  background: var(--btn-color);
  padding: 0 10px;
  border-radius: 10px;
}

.border__bottom {
  padding-bottom: 55px;
  border-bottom: solid 1px var(--btn-color);
  margin-bottom: 50px;
}

.service__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 165px;
  padding-bottom: 100px;
}

.service__btn {
  font-size: 24px;
  padding: 30px 45px;
  background-color: var(--btn-color);
  border-radius: 10px;
  cursor: pointer;
  color: #FFF;
}

.work {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-image: url(imges/index/bg.png);
}

.pad {
  padding-top: 270px;
}

.work__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 160px;
  padding: 80px 150px;
  padding-top: 40px;
}

.work__card {
  background: #DFF2EB;
  border-radius: 10px;
  padding: 15px;

  p {
    width: 242px;
    text-align: justify;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__h {
  position: relative;
  margin-top: 60px;
  font-size: 60px;
}

.reviews__h::after, .quest::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 6px;
  width: 74px;
  border-radius: 11px;
  background: #4A628A;
}

.reviews__cards {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px 0;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.reviews__cards::after {
  content: url(imges/index/patno\ 1.png);
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.reviews__card {
  background: var(--calc-bg);
  border: solid 2px #D1C7BE;
  border-radius: 15px;
  padding: 0 34px;
  padding-bottom: 34px;
  font-weight: 500;
  color: #58595D;
  text-align: justify;
  z-index: 3;
}

.reviews__text {
  width: 470px;
}

.reviews__btn {
  font-size: 24px;
  padding: 20px 45px;
  background-color: var(--btn-color);
  border-radius: 10px;
  cursor: pointer;
  color: #FFF;
  z-index: 4;
  margin-bottom: 200px;
}

.quote {
  position: relative;
  bottom: 18px;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.textarea {
  margin-top: 45px;
  padding: 20px 25px;
  width: 495px;
  border-radius: 10px;
  height: 142px;
  resize: none;
  position: relative;
}

.feedback::after {
  content: url(imges/index/patno\ 2.png);
  position: absolute;
  bottom: 46%;
  left: 0;
  z-index: 1;
}

.quest {
  padding-bottom: 5px;
  position: relative;
}


.guarantee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reasons {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reason__h {
  font-size: 30px;
  padding: 30px 0 60px 0;
  color: #3C4852;
  z-index: 9999;
}

.reason__text {
  width: 477px;
  color: #3C4852;
  font-size: 18px;
  z-index: 9999;
}

.reason__img {
  padding-top: 80px;
  z-index: 9999;
}

.reasons::after {
  content: url(imges/index/patno\ 3.png);
  position: absolute;
  top: 57%;
  right: 0;
}

.footer__container {
  margin-top: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(imges/footer.png);
  background-repeat: no-repeat;
  gap: 80px;
  padding-bottom: 20px;
}

.footer__1, .footer__nav {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.footer__h {
  font-size: 24px;
  color: #FFF;
  font-weight: 500;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__img {
  padding: 10px;
  border: solid 1px #C4C4C4;
  border-radius: 5px;
  cursor: pointer;
}

.footer__logo {
  width: 210px;
  padding-top: 60px;
}


.footer__nav, .footer__3 {
  padding-top: 70px;
  cursor: pointer;
}



/* ABOUT US */
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__text {
  margin-top: 100px;
  padding: 30px 25px;
  padding-bottom: 70px;
  background: var(--btn-color);
  width: 1204px;
  font-size: 20px;
  color: #FFF;
  border-radius: 10px;
}

.feedback__about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.margin__no {
  margin: 0;
}

.review__h {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 30px;
}

.center {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 100px;
}

.calc__page__text {
  padding: 55px 70px;
  background: #FFF;
  width: 1269px;
  margin: auto;
  margin-top: 60px;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  border-radius: 10px;
}

.margin-top {
  margin-top: 100px;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 650px;
  column-gap: 150px;
  row-gap: 50px;
  margin-top: 40px;
}

.order__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment__card__text {
  font-size: 18px;
  color: #323232;
  max-width: 250px;
  text-align: center;
  padding-top: 10px;
}


.services__container {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-wrap: wrap;
  margin: 0 140px;
  margin-top: 70px;
  column-gap: 100px;
  row-gap: 80px;
}
.service__card {
  display: flex;
  justify-content: center;
  background-image: url(imges/bg/Group\ 1577.png);
  width: 300px;
  background-repeat: no-repeat;
  img {
    padding-top: 6px;
    width: 80%;
    height: 85%;
  }
  cursor: pointer;
}
.card__textes {
  padding: 0 0 15px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.card__text {
  width: 100px;
  hyphens: auto
}


.orderClick__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}

.orderClick__section.hr {
  border-bottom: 1px solid #ccc;
}

.orderClick__text__input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;          /* Растягиваем на всю ширину контейнера */
  max-width: 500px;     /* Ограничиваем максимальную ширину (настройте под себя) */
  p {
      margin: 0;
  width: 120px;         /* Фиксированная ширина текста (подберите значение) */
  white-space: wrap;
  text-align: right;
  }
}

.calc__input.margin__no {
  margin: 0;
  width: 260px;         /* Фиксированная ширина инпута */
  flex-shrink: 0;       /* Запрещаем сжиматься */
}